<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dormitory.Dao.MaintenanceMapper">

    <select id="selectMaintenanceById" parameterType="java.lang.Integer" resultType="com.dormitory.model.po.Maintenance">
        SELECT * FROM maintenances WHERE id=#{id}
    </select>

    <select id="selectMaintenanceByStu" parameterType="java.lang.String" resultMap="reform">
        SELECT maintenances.*,repairers.name,repairers.telephone FROM maintenances,students,repairers WHERE students.username=#{stu_name} AND maintenances.student_id=students.id AND repairers.id=maintenances.repairer_id
    </select>

    <select id="selectMaintenanceByRep" parameterType="java.lang.String" resultMap="response">
        SELECT maintenances.*,students.name,students.telephone FROM maintenances,students,repairers WHERE repairers.username=#{rep_name} AND maintenances.repairer_id=repairers.id AND students.id=maintenances.student_id
    </select>

    <select id="selectMaintenanceByState" parameterType="java.lang.String" resultType="com.dormitory.model.po.Maintenance">
        SELECT * FROM maintenances WHERE fault_state=#{fault_state};
    </select>

    <select id="selectAllMaintenance" resultType="com.dormitory.model.po.Maintenance">
        SELECT * FROM maintenances
    </select>

    <insert id="insertReform" parameterType="com.dormitory.model.po.Maintenance">
        INSERT INTO maintenances(student_id,repairer_type,fault_type,fault_location,fault_detail,fault_state,reform_time)
        VALUE (#{student_id},#{repairer_type},#{fault_type},#{fault_location},#{fault_detail},#{fault_state},#{reform_time})
    </insert>

    <update id="updateAllocate" parameterType="com.dormitory.model.po.Maintenance">
        UPDATE maintenances SET supervisor_id=#{supervisor_id},repairer_id=#{repairer_id},repairer_type=#{repairer_type},fault_state=#{fault_state}
        WHERE id=#{id}
    </update>

    <update id="updateResponse" parameterType="com.dormitory.model.po.Maintenance">
        UPDATE maintenances SET fault_analysis=#{fault_analysis},fault_state=#{fault_state},response_time=#{response_time}
        WHERE id=#{id}
    </update>

    <update id="updateEstimate" parameterType="com.dormitory.model.po.Maintenance">
        UPDATE maintenances SET estimate_rate=#{estimate_rate},estimate_detial=#{estimate_detial}
        WHERE id=#{id}
    </update>

    <delete id="deleteMaintenance" parameterType="java.lang.Integer">
        DELETE FROM maintenances WHERE id=#{id}
    </delete>

    <select id="selectReform" parameterType="java.lang.String" resultMap="reform">
        SELECT maintenances.*,repairers.name,repairers.telephone FROM maintenances,students,repairers WHERE students.username=#{username} AND maintenances.student_id=students.id AND repairers.id=maintenances.repairer_id
    </select>

    <update id="updateMaintenanceState" parameterType="java.lang.Integer">
        UPDATE maintenances SET fault_state="修复"
        WHERE id=#{maintenance_id}
    </update>

    <select id="selectMaintenanceByStuUsername" parameterType="java.lang.String" resultType="com.dormitory.model.po.Maintenance">
        SELECT maintenances.* FROM maintenances,students WHERE students.username=#{stu_name} AND maintenances.student_id=students.id
    </select>

    <resultMap id="reform" type="com.dormitory.model.po.Maintenance">
        <id column="id" property="id"></id>
        <result column="student_id" property="student_id"/>
        <result column="supervisor_id" property="supervisor_id"/>
        <result column="repairer_id" property="repairer_id"/>
        <result column="repairer_type" property="repairer_type"/>
        <result column="fault_type" property="fault_type"/>
        <result column="fault_location" property="fault_location"/>
        <result column="fault_detail" property="fault_detail"/>
        <result column="fault_analysis" property="fault_analysis"/>
        <result column="fault_state" property="fault_state"/>
        <result column="reform_time" property="reform_time"/>
        <result column="response_time" property="response_time"/>
        <result column="estimate_rate" property="estimate_rate"/>
        <result column="estimate_detial" property="estimate_detial"/>
        <collection property="repairer" ofType="com.dormitory.model.po.Repairer" >
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="telephone" property="telephone"></result>
        </collection>
    </resultMap>

    <resultMap id="response" type="com.dormitory.model.po.Maintenance">
        <id column="id" property="id"></id>
        <result column="student_id" property="student_id"/>
        <result column="supervisor_id" property="supervisor_id"/>
        <result column="repairer_id" property="repairer_id"/>
        <result column="repairer_type" property="repairer_type"/>
        <result column="fault_type" property="fault_type"/>
        <result column="fault_location" property="fault_location"/>
        <result column="fault_detail" property="fault_detail"/>
        <result column="fault_analysis" property="fault_analysis"/>
        <result column="fault_state" property="fault_state"/>
        <result column="reform_time" property="reform_time"/>
        <result column="response_time" property="response_time"/>
        <result column="estimate_rate" property="estimate_rate"/>
        <result column="estimate_detial" property="estimate_detial"/>
        <collection property="student" ofType="com.dormitory.model.po.Student" >
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="telephone" property="telephone"></result>
        </collection>
    </resultMap>



</mapper>