<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dormitory.Dao.SuperAdminMapper">
    <select id="selectSuperAdminById" parameterType="java.lang.Integer" resultType="com.dormitory.model.po.SuperAdmin">
        SELECT * FROM super_administrators WHERE id=#{id}
    </select>

    <select id="selectSuperAdminByUsername" parameterType="java.lang.String" resultType="com.dormitory.model.po.SuperAdmin">
        SELECT * FROM super_administrators WHERE username=#{username}
    </select>

    <insert id="insertSuperAdmin" parameterType="com.dormitory.model.po.SuperAdmin">
        INSERT INTO super_administrators(username,name,password,officenum,telephone,email)
        VALUE (#{username},#{name},#{password},#{officenum},#{telephone},#{email})
    </insert>

    <delete id="deleteSuperAdmin" parameterType="java.lang.String">
        DELETE FROM super_administrators WHERE username=#{username}
    </delete>
</mapper>